body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 16, 16);
  width: 100vw;
}
img {
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: rgb(198, 193, 200);
}
.nav {
  background-color: rgb(21, 21, 21);
  display: flex;
  flex: auto;
  align-items: center;
  padding-top: 10px;
  margin-top: 0;
  top: 0;
  position: sticky;
}
.nav1a {
  display: flex;
  flex: auto;
  align-items: center;
  margin: 0 10px;
}
.nav1ul1,
.nav1ul2 {
  margin-left: 10px;
}
.nav1ul1 img {
  height: 50px;
}
.nav2a1,
.nav2a2 {
  margin-left: 10px;
}
.play-section {
  width: 70vw;
  height: 75.75vh;
  margin: 50px auto;
  box-shadow: -10px -20px 20px rgb(16, 16, 16);
}
.play-details {
  display: flex;
  width: 100%;
  height: 69.93vh;
  overflow-y: scroll;
}
.play-details::-webkit-scrollbar {
  width: 15px;
}
.play-details::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(16, 16, 16);
}
.play-details::-webkit-scrollbar-thumb {
  background-color: rgb(54, 54, 54);
}
.song-items {
  display: flex;
  color: white;
  align-items: center;
  margin: 10px 0 10px 2vw;
}
.song-items div {
  margin: 0 0.26vw;
}
.song-list-play {
  margin-left: 1.5625vw;
}
.song-items img {
  height: 3.703vh;
}
.song-banner img {
  width: 28.64vw;
  margin: 2.6vw 0;
  margin-left: 20.3vw;

  position: absolute;
}
.heading {
  color: rgb(198, 193, 200);
  margin-left: 20px;
}

.play {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex: auto;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  position: absolute;
  color: aliceblue;
  align-items: center;
}
.masterplay1 {
  width: 20%;
  margin-left: 20px;
  display: flex;
  flex: auto;
  align-items: center;
}
.masterplay1 div {
  margin-right: 10px;
}
.masterplay1 div h5,
.masterplay1 div h6 {
  margin: 10px 0;
}
.play img {
  height: 60px;
}
.masterplay2 {
  display: block;
  align-items: center;
  width: 50%;
  position: relative;
}
#songtime,
#volume {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 10px;
  background: rgb(31, 31, 31);
  color: white;
  overflow: hidden;
  cursor: pointer;
}
.playitems {
  text-align: center;
}
.playitems div i {
  margin: 10px 10px 8px;
}
#songtime {
  margin-bottom: 10px;
}
#songtime,
#volume,
.playicon {
  cursor: pointer;
}
.masterplay3 {
  display: flex;
  width: 25%;
}
.masterplay3 div {
  display: flex;
  right: 0;
  position: absolute;
  align-items: center;
}
#volume {
  margin: 0 20px 0 10px;
}
@media only screen and (max-width: 1438px) {
  .song-banner {
    display: none;
  }
  .songs {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
}
