body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 16, 16);
  width: 99.17vw;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(rgb(21, 21, 21), rgb(0, 0, 0));
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(38, 37, 37);
}
a {
  text-decoration: none;
  color: rgb(198, 193, 200);
}
.nav {
  background-color: rgb(21, 21, 21);
  display: flex;
  flex: auto;
  align-items: center;
  padding-top: 10px;
  margin-top: 0;
  top: 0;
  position: sticky;
}
.nav1a {
  display: flex;
  flex: auto;
  align-items: center;
  margin: 0 10px;
}
.nav1ul1,
.nav1ul2 {
  margin-left: 10px;
}
.nav1ul1 img {
  height: 50px;
}
.nav2a1,
.nav2a2 {
  margin-left: 10px;
}

.lang {
  background: linear-gradient(rgb(21, 21, 21), rgb(16, 16, 16));
  color: rgb(198, 193, 200);
  padding-left: 40px;
  padding-top: 40px;
}
.lang h2 {
  margin-bottom: 50px;
}
.lang div a {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
}
.lang div a:hover {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}
.langContainer {
  display: flex;
  flex: auto;
}
.artists,
.playlists {
  display: inline-block;
  color: rgb(198, 193, 200);
  margin-left: 20px;
  margin-top: 40px;
}
.artists-container,
.playcontainer1,
.playcontainer2 {
  display: flex;
  flex: auto;
  margin-bottom: 50px;
}
.arijit,
.atif,
.kk,
.honey-singh,
.Other-artists,
.fast1,
.fast2,
.fast3,
.fast4,
.fast5,
.fast6,
.fast7,
.fast8,
.fast9 {
  padding: 40px 17px;
  margin-right: 50px;
  background-color: rgb(24, 24, 24);
  max-width: 204px;
  color: rgb(198, 193, 200);
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.fast1,
.fast2,
.fast3,
.fast4,
.fast5,
.fast6,
.fast7,
.fast8,
.fast9 {
  padding: 30px 24px 40px;
}
.arijit:hover,
.atif:hover,
.kk:hover,
.honey-singh:hover,
.Other-artists:hover,
.fast1:hover,
.fast2:hover,
.fast3:hover,
.fast4:hover,
.fast5:hover,
.fast6:hover,
.fast7:hover,
.fast8:hover,
.fast9:hover {
  background-color: rgb(30, 30, 30);
  color: rgb(16, 3, 16);
}
.artists img,
.playlists img {
  height: 170px;
  padding-bottom: 30px;
}
.play {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex: auto;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  position: sticky;
  color: aliceblue;
  align-items: center;
}
.masterplay1 {
  width: 20%;
  margin-left: 20px;
  display: flex;
  flex: auto;
  align-items: center;
}
.masterplay1 div {
  margin-right: 10px;
}
.masterplay1 div h5,
.masterplay1 div h6 {
  margin: 10px 0;
}
.play img {
  height: 60px;
}
.masterplay2 {
  display: block;
  align-items: center;
  width: 50%;
  position: relative;
}
#songtime,
#volume {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 10px;
  background: rgb(31, 31, 31);
  color: white;
  overflow: hidden;
  cursor: pointer;
}
.playitems {
  text-align: center;
}
.playitems div i {
  margin: 10px 10px 8px;
}
#songtime {
  margin-bottom: 10px;
}
#songtime,
#volume,
.playicon {
  cursor: pointer;
}
.masterplay3 {
  display: flex;
  width: 25%;
}
.masterplay3 div {
  display: flex;
  right: 0;

  position: absolute;
  align-items: center;
}
#volume {
  margin: 0 20px 0 10px;
}
