body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 16, 16);
  width: 100vw;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(rgb(21, 21, 21), rgb(0, 0, 0));
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(38, 37, 37);
}
img {
  border-radius: 8px;
}
a {
  text-decoration: none;
  color: rgb(198, 193, 200);
}
.nav {
  width: 100vw;
  background-color: rgb(21, 21, 21);
  display: flex;
  flex: auto;
  align-items: center;
  padding-top: 10px;
  margin-top: 0;
  top: 0;
  position: sticky;
}
.nav1a {
  display: flex;
  flex: auto;
  align-items: center;
  margin: 0 10px;
}
.nav1ul1,
.nav1ul2 {
  margin-left: 10px;
}
.nav1ul1 img {
  height: 50px;
}
.nav2a1,
.nav2a2 {
  margin-left: 10px;
}

.lang {
  background: linear-gradient(rgb(21, 21, 21), rgb(16, 16, 16));
  color: rgb(198, 193, 200);
  padding-left: 2vw;
  padding-top: 3vh;
}
.lang h2 {
  margin-bottom: 50px;
}
.langContainer {
  display: flex;
  flex: auto;
}
.langContainer div {
  margin-right: 1vw;
}
.langContainer div a {
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.lang div a:hover {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}

.artists,
.playlists {
  display: inline-block;
  color: rgb(198, 193, 200);
  margin-left: 1vw;
  margin-top: 3vh;
}
.artists-container,
.playcontainer1 {
  width: 99vw;
  display: flex;
  flex: auto;
  margin-bottom: 50px;
  overflow-x: scroll;
}
.artists-container::-webkit-scrollbar,
.playcontainer1::-webkit-scrollbar {
  width: 16px;
}
.artists-container::-webkit-scrollbar-track,
.playcontainer1::-webkit-scrollbar-track {
  background: rgb(16, 16, 16);
}
.artists-container::-webkit-scrollbar-thumb,
.playcontainer1::-webkit-scrollbar-thumb {
  background-color: rgb(23, 23, 23);
}
.arijit,
.atif,
.kk,
.honey-singh,
.Other-artists,
.fast1,
.fast2,
.fast3,
.fast4,
.fast5,
.fast6,
.fast7,
.fast8,
.fast9 {
  padding: 40px 17px;
  margin-right: 50px;
  background-color: rgb(24, 24, 24);
  max-width: 204px;
  color: rgb(198, 193, 200);
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.fast1,
.fast2,
.fast3,
.fast4,
.fast5,
.fast6,
.fast7,
.fast8,
.fast9 {
  padding: 30px 24px 40px;
}
.arijit:hover,
.atif:hover,
.kk:hover,
.honey-singh:hover,
.Other-artists:hover,
.fast1:hover,
.fast2:hover,
.fast3:hover,
.fast4:hover,
.fast5:hover,
.fast6:hover,
.fast7:hover,
.fast8:hover,
.fast9:hover {
  background-color: rgb(30, 30, 30);
  color: rgb(16, 3, 16);
}
.artists img,
.playlists img {
  height: 170px;
  padding-bottom: 30px;
}
.play {
  width: 100%;
  padding-top: 5px;
  display: flex;
  flex: auto;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  position: sticky;
  color: aliceblue;
  align-items: center;
}
.masterplay1 {
  width: 20%;
  margin-left: 20px;
  display: flex;
  flex: auto;
  align-items: center;
}
.masterplay1 div {
  margin-right: 10px;
}
.masterplay1 div h5,
.masterplay1 div h6 {
  margin: 10px 0;
}
.play img {
  height: 60px;
}
.masterplay2 {
  display: block;
  align-items: center;
  width: 50%;
  position: relative;
}
#songtime,
#volume {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 10px;
  background-color: rgb(31, 31, 31);
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

#songtime:hover,
#volume:hover {
  background-color: rgb(53, 53, 53);
}
#songtime::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(136, 136, 136);
}
#songtime::-webkit-slider-thumb:hover,
#volume::-webkit-slider-thumb:hover {
  background-color: white;
}

.playitems {
  text-align: center;
}
.playitems div i {
  margin: 10px 10px 8px;
}
#songtime {
  margin-bottom: 10px;
}
#songtime,
#volume,
.playicon {
  cursor: pointer;
}
#currentTime {
  left: -12px;
  position: absolute;
}
#TotalTime {
  right: -20px;
  position: absolute;
}
.masterplay3 {
  display: flex;
  width: 25%;
}
.masterplay3 div {
  display: flex;
  right: 0;

  position: absolute;
  align-items: center;
}
#volume {
  margin: 0 20px 0 10px;
}
@media only screen and (max-width: 492px) and (orientation: portrait) {
  .masterplay1,
  .masterplay3 {
    display: none;
  }
  .masterplay2 {
    width: 95vw;
    margin: 0 auto;
  }
  #currentTime {
    left: 0;
    position: absolute;
  }
  #TotalTime {
    right: 0;
    position: absolute;
  }
}
